html,
body {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
}

* {
  box-sizing: border-box;
}

#root {
  height: 100%;
  width: 100%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-active {
  @apply bg-gray-100;
}
