body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.map-container {
  display: block;
  position: absolute; 
  top: 0;
  bottom: 0;
  width: 100%;
  padding: 0; 
  margin: 0;
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

.centerbar{
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 42%;
  margin: 12px;
  border-radius: 4px;
}

.button{
  background-color: transparent;
  color: #fff;
  padding: 0px 6px;
  font-family: monospace;
  text-align: center;
  border: none;
  outline: none;
  
}

.seleact{
  background-color: white;
  color: black;
  padding: 0px 6px;
  font-family: monospace;
  text-align: center;
  border: none;
  outline: none;
}

.map-overlay {
  width  : 200px;
  height : 275px;
  background: rgba(35, 55, 75, 0.9);
  color: white;
  font-family: monospace;
  position: fixed;
  align-items:stretch;
  display: inline-block;
  left: 85%;
  bottom: 5%;
  z-index: 99;
} 


 .data{
  padding-left : 60px; 
  padding-right : 20px;   
  float:left;
  position: absolute;
  color: white;
}

.color-box {
  position: absolute;
  width: 20px;
  height: 20px;
  float: left;
  left: 10%;
  opacity: 1;
}

.date{
  float: right;
  right: 10%;
  margin-right: 12px;
  top: 0%;
}