.map-container {
  height: 100%;
  right: auto;
  left: auto;
  width: 104%;
  display: block;
  position: absolute;
  margin: -2%;
}

.sidebar {
  display: flex;
  justify-content: space-between;
  align-items:stretch;
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 60px;
  left: 1%;
  margin: 12px;
  border-radius: 4px;
}

.centerbar{
  position: fixed;
  display: flex;
  justify-content: space-between;
  flex: 2;
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  width: auto;
  top: 8%;
  left: 42%;
  margin: 1%;
  border-radius: 4px;
}

.button{
  background-color: transparent;
  color: #fff;
  padding: 0px 6px;
  font-family: monospace;
  text-align: center;
  border: none;
  outline: none;
  
}

.seleact{
  background-color: white;
  color: black;
  padding: 0px 6px;
  font-family: monospace;
  text-align: center;
  border: none;
  outline: none;
}

.map-overlay {
  width  : 250px;
  height : 210px;
  background: rgba(35, 55, 75, 0.9);
  color: white;
  font-family: monospace;
  position: fixed;
  align-items:stretch;
  display: inline-block;
  left: 81%;
  bottom: 4%;
  z-index: 99;
  padding: 1%;
} 


 .data{
  display:flex;
  align-items:stretch;
  padding-left : 60px; 
  padding-right : 20px;   
  float:left;
  position: absolute;
  color: white;
}

.color-box {
  position: absolute;
  width: 20px;
  height: 20px;
  float: left;
  left: 10%;
  opacity: 1;
}

#date{
  display: flex;
  justify-content: space-between;
  position: absolute;
  float: right;
  right: 1%;
  margin-top: 1%;
  top: 8%;
  z-index: 1;
}